@import url('https://fonts.googleapis.com/css?family=Raleway|Ubuntu+Mono');

body{
	font-family: 'Raleway', sans-serif;
}

code{
	font-family: 'Ubuntu Mono', monospace;
}

.shadow{
	max-width:900px;
	-webkit-box-shadow: 0px 0px 51px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 51px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 51px 2px rgba(0,0,0,0.75);
}