#optsBtn{
  position:absolute;
  z-index:999;
  right:20px;
  top:20px;
}

#search{
  position:absolute;
  z-index:999;
  left:20px;
  top:20px;
}

#searchNode{
  position:absolute;
  z-index:999;
  left:80px;
  top:20px;
}

#networks-hide_tweet{
  position:absolute;
  z-index:999;
  left:140px;
  top:20px;
}

#stats{
  position:absolute;
  z-index:999;
  right:80px;
  top:20px;
}

#networks-vr{
  position:absolute;
  z-index:999;
  right:20px;
  bottom:20px;
}

nav{
  display: none;
}

#pushbarLeft, #pushbarTop, #pushbarBottom, #pushbarSearchNode{
  padding:25px;
  width:320px;
}

#legendBottom{
	bottom:20px;
	left:49%;
	position:absolute;
	z-index:999;
}

.center_arrow{
  margin-left:45%;
}

body > .inner {
  display: none;
}

body.pg-loaded > .inner {
  display: block;
}

#closeOpts, #closeStats{
  top:30px;
  right:20px;
  position:absolute;
}

#closeSearch, #closeSearchNode{
  top:30px;
  right:20px;
  position:absolute;
}

#leftLink{
  bottom:20px;
  right:20px;
  position:absolute;
}

.center{
  text-align: center;
}

#networks-aforce{
  position:absolute;
  width:80%;
  top:10%;
  left:10%;
  -webkit-box-shadow: 0px 0px 100px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 100px 3px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 100px 3px rgba(0,0,0,0.75);
	z-index:99999;
}

/* Loading */

.sk-chasing-dots {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-chasingDotsRotate 2s infinite linear;
          animation: sk-chasingDotsRotate 2s infinite linear; }
  .sk-chasing-dots .sk-child {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sk-chasingDotsBounce 2s infinite ease-in-out;
            animation: sk-chasingDotsBounce 2s infinite ease-in-out; }
  .sk-chasing-dots .sk-dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }
@-webkit-keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@-webkit-keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
@keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }