#optsBtn{
  position:absolute;
  z-index:999;
  right:20px;
  top:20px;
}

#search{
  position:absolute;
  z-index:999;
  left:20px;
  top:20px;
}

#searchNode{
  position:absolute;
  z-index:999;
  left:20px;
  bottom:20px;
}

#stats{
  position:absolute;
  z-index:999;
  right:20px;
  bottom:20px;
}

nav{
  display: none;
}

#pushbarLeft, #pushbarTop, #pushbarBottom, #pushbarSearchNode{
  padding:25px;
  width:320px;
}

body > .inner {
  display: none;
}

body.pg-loaded > .inner {
  display: block;
}

#closeOpts{
  bottom:20px;
  right:20px;
  position:absolute;
}

#closeSearch{
  bottom:20px;
  left:20px;
  position:absolute;
}

#closeSearchNode{
  bottom:20px;
  left:20px;
  position:absolute;
}

#closeStats {
  bottom:20px;
  right:20px;
  position:absolute;
}

#leftLink{
  bottom:20px;
  right:20px;
  position:absolute;
}

.center{
  text-align: center;
}

/* Loading */

.sk-chasing-dots {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-chasingDotsRotate 2s infinite linear;
          animation: sk-chasingDotsRotate 2s infinite linear; }
  .sk-chasing-dots .sk-child {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sk-chasingDotsBounce 2s infinite ease-in-out;
            animation: sk-chasingDotsBounce 2s infinite ease-in-out; }
  .sk-chasing-dots .sk-dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }
@-webkit-keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@-webkit-keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
@keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }